.about {
	display: flex;
	justify-content: space-between;
	padding-left: 375px;
	padding-right: 375px;
	padding-top: 105px;
	padding-bottom: 105px;
	color: #000000;
	background-image: linear-gradient(to right, #000000 0% , #000000 660px, #ffffff 660px, #ffffff 100%);
}