.contacts {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-left: 375px;
	padding-right: 375px;
	padding-top: 120px;
	padding-bottom: 60px;
}

.contacts__wrapper {
	width: 400px;
}

.contacts__title {
	@include reset();
	margin-bottom: 30px;
	font-size: 38px;
	font-family: "Rubik medium", sans-serif;
	font-weight: medium;
}

.contacts__text {
	@include reset();
	margin-bottom: 40px;
	color: #d8d8d8;
	font-size: 15px;
	line-height: 24px;
}

.contacts__info {
	@include reset();
	font-size: 15px;
	line-height: 36px;
	font-family: "Myriad Pro", sans-serif;
}

.contacts__form {
	width: 670px;
	background-color: #0c0c0c;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 70px;
	padding-bottom: 60px;
}

.contacts__input {
	background-color: #1c1c1c;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;

	&::placeholder {
		color: #6b6b6b;
		font-size: 15px;
	}
}

.contacts__paragraph {
	@include reset();
	margin-bottom: 30px;
}

.contacts__input--username {
	margin-right: 30px;
	width: 278px;
}

.contacts__input--email {
	width: 278px;
}

.contacts__input--phone {
	width: 100%;
	box-sizing: border-box;
}

.contacts__comment {
	width: 100%;
	box-sizing: border-box;
	background-color: #1c1c1c;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	resize: none;

	&::placeholder {
		color: #6b6b6b;
		font-size: 15px;
	}
}

.contacts__submit {
	background-color: #000000;
	color: #ffffff;
	text-transform: uppercase;
}