.news {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 375px;
	padding-right: 375px;
	padding-top: 130px;
	padding-bottom: 125px;
	background-color: #ffffff;
	color: #000000;

	&::before {
		@include pseudo();
		@include sprite(-5px, -241px, 88px, 87px);
		top: auto;
		bottom: 200px;
		left: 100px;
	}

	&::after {
		@include pseudo();
		@include sprite(-5px, -5px, 28px, 28px);
		top: 170px;
		left: auto;
		right: 130px;
	}
}

.no-webp .news::before,
.no-js .news::before,
.no-webp .news::after,
.no-js .news::after {
	background-image: url("../img/sprite.png");
}

.webp .news::before,
.webp .news::after {
	background-image: url("../img/sprite.webp");
}

.news__title {
	@include reset();
	margin-bottom: 25px;
	font-size: 40px;
	font-family: "Rubik medium", sans-serif;
	font-weight: medium;
}

.news__description {
	width: 570px;
	@include reset();
	margin-bottom: 70px;
	text-align: center;
}

.news__articles {
	align-self: stretch;
	display: flex;
}