.socials {
	@include reset-list();
}

.socials__link {
	position: relative;
	display: block;
	padding-left: 40px;
	margin-bottom: 25px;
	font-family: "Rubik medium", sans-serif;
	color: #000000;
	text-decoration: none;
	font-weight: medium;
	font-size: 24px;

	&::before {
		@include pseudo();
		opacity: 0.3;
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover {
		color: #ffffff;
		opacity: 0.7;

		&::before {
			opacity: 1;
		}
	}

	&:active {
		opacity: 0.3;
	}
}

.socials__link--fb::before {
	@include sprite(-5px, -575px, 13px, 24px);
}

.socials__link--tw::before {
	@include sprite(-5px, -696px, 20px, 15px);
}

.socials__link--dr::before {
	@include sprite(-5px, -546px, 20px, 19px);
}

.socials__link--bh::before {
	@include sprite(-5px, -380px, 20px, 12px);
}

.socials__link--pin::before {
	@include sprite(-5px, -661px, 20px, 25px);
}

.no-webp .socials__link--fb::before,
.no-js .socials__link--fb::before,
.no-webp .socials__link--tw::before,
.no-js .socials__link--tw::before,
.no-webp .socials__link--dr::before,
.no-js .socials__link--dr::before,
.no-webp .socials__link--bh::before,
.no-js .socials__link--bh::before,
.no-webp .socials__link--pin::before,
.no-js .socials__link--pin::before {
	background-image: url("../img/sprite.png");
}

.webp .socials__link--fb::before,
.webp .socials__link--tw::before,
.webp .socials__link--dr::before,
.webp .socials__link--bh::before,
.webp .socials__link--pin::before {
	background-image: url("../img/sprite.webp");
}