@mixin reset-list() {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin reset() {
	margin: 0;
	padding: 0;
}

@mixin sprite($x: 0, $y: 0, $width: 0, $height: 0) {
    background-position: $x $y;
    width: $width;
    height: $height;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

@mixin pseudo() {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
}
